body {
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

label,
input {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 2em;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
}

input[disabled] {
    background-color: #555;
    color: #888;
}

#addTimer {
    margin-bottom: 10px;
    font-size: 1.5em;
    padding: 10px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTimer:hover {
    background-color: #0055aa;
}

.btn-style {
  font-size: 23px;
  background-color: #FF6F6F;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.btn-style:hover {
  background-color: #FF5F5F;
}

legend {
    color: #ccc;
}

fieldset {
    border-radius: 10px;
    border: none;
    background-color: #444;
    margin-bottom: 5px;
    padding: 5px;
}

.deleteTimer {
    background-color: #FF6F6F;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.deleteTimer:hover {
    background-color: #FF5F5F;
}

input[type="number"],
input[type="time"] {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
}

input[type="time"]:disabled {
    background-color: #555;
    color: #888;
}

input[type="text"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2em;
}
